{% extends 'GameCoreBundle::layout.html.twig' %}
{%  block title %}Gnomek test{% endblock %}

{% block content %}
<h1>Hello</h1>
{% endblock %}

{% block game %}
    <script>
    window.onload = function() {
        var links = {
            resources: "{{ path('_initResources') }}"
        };
        game.init('game', 800, 324, links);
    };
    </script>
{% endblock %}