{% extends 'GameCoreBundle::layout.html.twig' %}
{%  block title %}Gnomek test{% endblock %}

{% block content %}
<h1>Hello</h1>
{% endblock %}

{% block game %}
    <script>
    window.onload = function() {
        var links = {
            resources:  "{{ path('_initResources') }}",
	        do:         "{{ path('_do') }}"
        };
	    var gameCore = new game();
	    gameCore.init('game', 1024, 800, links, gameCore);
	    $(window).keypress(function(event) {
		    var key = event.charCode;
		    //console.log(event);
		    //a or A - left
		    if(key == 97 || key == 65){
			    gameCore.tryAction('moveLeft');
		    }
		    if(key == 100 || key == 68){
			    gameCore.tryAction('moveRight');
		    }

		    if(key == 119 || key == 87){
			    gameCore.tryAction('moveTop');
		    }
		    if(key == 115 || key == 83){
			    gameCore.tryAction('moveDown');
		    }

			//console.log(event);
	    });
    };
    </script>
{% endblock %}