<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="http://gay.ru">Gnomek</a>
		<ul class="nav">
			<li><a href="{{ path('_welcome') }}">Welcome</a></li>
			<li><a href="{{ path('_mapEditor') }}">Map Editor</a></li>
		</ul>
	</div>
</div>