<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Admin{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bundles/gamecore/bootstrap/css/bootstrap.min.css') }}" />
    <script src="{{ asset('bundles/gamecore/bootstrap/js/bootstrap.min.js') }}" ></script>
</head>
<body>
	{% include 'GameCoreBundle::menu.html.twig'%}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				{% block sidebarContent %}
				{% endblock %}
			</div>
			<div class="span10">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>
