<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Admin{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bundles/gamecore/bootstrap/css/bootstrap.min.css') }}" />
    <script src="{{ asset('bundles/gamecore/bootstrap/js/bootstrap.min.js') }}" ></script>
</head>
<body>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>
